extends layout

block content
	h1 User Login
	form(action="/login", method="post")
		if error
			label.block.text-red 用户名或密码错误

		label.block
			username
			input(name="username")
		label.block
			password
			input(type="password", name="password")
		div.block
			button(type="submit") 登录
